@model IEnumerable<LTWNC.Models.CTGIAOHANG>

@{
    ViewBag.Title = "Tracking";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<style>
    .card {
        margin-bottom: 24px;
        /*-webkit-box-shadow: 0 2px 4px rgb(126 142 177 / 10%);
        box-shadow: 0 2px 4px rgb(126 142 177 / 10%);*/
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid #eaedf1;
        border-radius: .25rem;
    }

    .activity-wid {
        margin-left: 16px;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }

    .activity-wid .activity-list {
        position: relative;
        padding: 0 0 33px 30px;
    }

    .activity-border:before {
        content: "";
        position: absolute;
        height: 38px;
        border-left: 3px dashed #eaedf1;
        top: 40px;
        left: 0;
    }

    .activity-wid .activity-list .activity-icon {
        position: absolute;
        left: -20px;
        top: 0;
        z-index: 2;
    }

    .avatar-sm {
        height: 2.5rem;
        width: 2.5rem;
    }

    .media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .me-3 {
        margin-right: 1rem !important;
    }

    .font-size-15 {
        font-size: 15px !important;
    }

    .font-size-14 {
        font-size: 14px !important;
    }

    .text-muted {
        color: #74788d !important;
    }

    .text-end {
        text-align: right !important;
    }

    .font-size-13 {
        font-size: 13px !important;
    }

    .avatar-title {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }

    .bg-soft-primary {
        background-color: rgba(82,92,229,.25) !important;
    }

    .bg-soft-success {
        background-color: rgba(35,197,143,.25) !important;
    }

    .mx-auto {
        margin: 0 auto;
    }
</style>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/management-form.css" rel="stylesheet" />

<h4 class="header-title mb-4">Theo dõi giao hàng</h4>
@using (Html.BeginForm("Tracking", "Management", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group row p-0 col-10">
            <span class="col label-name">Cập nhật vị trí</span>
            <input class="input-form col-10" name="VITRIGIAO" placeholder="Nhập vị trí..." />
        </div>
        <input class="btn btn-primary col" type="submit" style="margin: 16px 0;" value="Cập nhật" />
    </div>
}

<div class="col-xl-4 mx-auto">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title mb-4"></h4>
            <ul class="list-unstyled activity-wid mb-0">

                @foreach (var item in Model)
                {
                    <li class="activity-list activity-border">
                        <div class="activity-icon avatar-sm">
                            @if (item.VITRIGIAO == "Đơn Hàng Chờ Vận Chuyển")
                            {
                                <img src="https://cdn-icons-png.flaticon.com/512/6828/6828668.png" class="avatar-sm rounded-circle" alt="">
                            }
                            else if (item.VITRIGIAO == "Giao Hàng Thành Công")
                            {
                                <img src="https://cdn-icons-png.flaticon.com/512/1486/1486422.png" class="avatar-sm rounded-circle" alt="">
                            }
                            else if (item.VITRIGIAO == "Giao Hàng Không Thành Công")
                            {
                                <img src="https://cdn-icons-png.flaticon.com/512/3900/3900407.png" class="avatar-sm rounded-circle" alt="">
                            }
                            else
                            {
                                <img src="https://cdn-icons-png.flaticon.com/512/1942/1942728.png" class="avatar-sm rounded-circle" alt="">
                            }
                        </div>
                        <div class="media">
                            <div class="me-3">
                                <h5 class="font-size-15 mb-1">@item.VITRIGIAO</h5>
                                <p class="text-muted font-size-14 mb-0">
                                    <i class="fa fa-calendar font-size-15 text-primary"></i>
                                    @Html.DisplayFor(modelItem => item.NGAYCAPNHAT)
                                </p>
                            </div>

                            @*<div class="media-body">
                                    <div class="text-end d-none d-md-block">
                                        <p class="text-muted font-size-13 mt-2 pt-1 mb-0">
                                            <i class="fa fa-calendar font-size-15 text-primary"></i>
                                            3 days
                                        </p>
                                    </div>
                                </div>*@

                        </div>
                    </li>
                    if (item.VITRIGIAO == "Giao Hàng Thành Công")
                    {
                        <li class="activity-list">
                            <div class="activity-icon avatar-sm">
                                <span class="avatar-title bg-soft-success text-success rounded-circle">
                                    <img src="https://cdn-icons-png.flaticon.com/512/7518/7518748.png" class="avatar-sm rounded-circle" alt="">
                                </span>
                            </div>
                            <div class="media">
                                <div class="me-3">
                                    <h5 class="font-size-15 mb-1">Đơn Hàng [#@item.IDDH] Đã Được Giao Thành Công</h5>
                                    <p class="text-muted font-size-14 mb-0">Cảm Ơn Bạn Đã Mua Hàng</p>
                                </div>
                            </div>
                        </li>
                    }
                }

            </ul>

        </div>
    </div>
</div>
