@model LTWNC.Models.FEEDBACK

<link href="~/Content/Css/feedback.css" rel="stylesheet" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

@using (Html.BeginForm("Feadback", "Product", FormMethod.Post, new { enctype = "mulipart/form-data" }))
{
    <div class="tong">

        <div class="container1">
            <h1 class="heading-section text-cool-3d">Đánh giá sản phẩm</h1>
            @if (Session["IDSP"] != null)
            {
                int a;
                int.TryParse(Convert.ToString(Session["IDSP"]), out a);
                @Html.Action("InfoSPFeeback", "Product", new { id = a })
            }
            <div class="star-widget">
                <input type="radio" name="POINTSTAR" id="rate-5" value="5" />
                <label for="rate-5" class="bx bxs-star"></label>
                <input type="radio" name="POINTSTAR" id="rate-4" value="4" />
                <label for="rate-4" class="bx bxs-star"></label>
                <input type="radio" name="POINTSTAR" id="rate-3" value="3" />
                <label for="rate-3" class="bx bxs-star"></label>
                <input type="radio" name="POINTSTAR" id="rate-2" value="2" />
                <label for="rate-2" class="bx bxs-star"></label>
                <input type="radio" name="POINTSTAR" id="rate-1" value="1" />
                <label for="rate-1" class="bx bxs-star"></label>
            </div>
            <form action="#">
                <header id="textshow"></header>
                <div class="textarea">
                    <textarea cols="30" name="NOIDUNG" placeholder="Nội dung..."></textarea>
                </div>
                <div class="binhluan">
                    <input value="Trở lại" id="btn-cancel" class="btn btn-default col" style="width: 20%" />
                    <button type="submit" style="padding:0px">Bình luận</button>
                </div>
            </form>
        </div>
    </div>
}



