@model LTWNC.Models.CTDH
<style>
</style>
<tr>
    <td>
        @Html.Action("InfoSPFeeback", "Product", new { id = Model.IDSP })
    </td>
    <td style="padding-top: 58px;">
        @Model.SOLUONG
    </td>
    <td style="padding-top: 58px;">
        @Convert.ToDecimal(Model.THANHTIEN).ToString("N0")đ
    </td>
    <td style="padding-top: 51px;">
        <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#myModal">Hủy đơn</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="float:left;">Hủy đơn</h4>
                    </div>
                    <div class="modal-body">
                        <p>Bạn muốn hủy đơn hàng này?</p>

                    </div>
                    <div class="modal-footer">
                        @Html.Action("CancelOrder", "Profile", new { id = Model.IDDH })
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>


