/*body {
    background-color: #eee;
}*/

.sum {
    margin: 100px;
}

.choose {
    margin-left: 20px;
}

.lc div {
    margin-bottom: 30px;
}

.tk {
    margin-left: 24px;
}

.tk {
    margin-left: 15px;
}

.info {
    background-color: white;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.ttlienhe {
    font-size: 20px;
}

.email {
    display: block;
    width: 78%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #EDF1FF;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    margin-left: 15px;
}
